.month-select,
.year-select {
  width: 1 0%;
}
.month-select {
  margin-right: 16px;
}

.input-search {
  width: 20% !important;
}

.header {
  justify-content: space-between;
  margin-top: 16px;
}
.content {
  height: 400px;
  overflow: hidden;
  margin-top: 16px;
}

.content-left,
.content-right {
  width: 50%;
}

.table-right,
.table-left {
  width: 50%;
}
.table-right {
  border-left: 0px solid transparent !important;
  margin-left: -1px;
}
.table-left thead tr {
  z-index: 2;
  background-color: white;
}
th {
  z-index: 2;
  background-color: white;
}

.table-header {
  top: 0.5px;
  background-color: white;
  border-bottom: none;
}

table tr th {
  border: 0;
  border: 1px solid #dee2e6;
  border-top: transparent !important;
}

.table-scroll th::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  display: block;
  top: -1.5px;
  z-index: 2;
  height: 58px;
}

.table-left .table-body {
  position: sticky;
  right: 0;
}

*::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 4px;
  margin-top: 58px;
}

::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 4px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.table-right th[data-content='1'] {
  border-right: 0 !important;
  border-width: 0;
}

.table-cell {
  line-height: 16px;
  height: 40px;
}

th.table-cell {
  height: 58px;
  line-height: 20px;
}

.table-cell--title {
  /* min-width: 300px; */
}

.table-cell--status,
.table-cell--priority {
  width: auto !important;
}

.content .form-select {
  padding: 3px 28px 3px 8px !important;
}

.content {
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.content-right {
  overflow: overlay;
  overflow-x: overlay !important;
  overflow-y: overlay !important;
}

.table {
  margin-bottom: 0 !important;
}

.border-right-none {
  border-right-width: 0;
}

.border-bottom-none {
  border-bottom-width: 0;
}

.holiday,
.table-body--holiday {
  color: rgb(249, 73, 73);
  background-color: rgb(249, 73, 73, 0.08) !important;
}
